.form {
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: center;
  margin: 3.313rem auto 4rem auto;
}

.form input {
  height: 2.813rem;
  width: 28.5%;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 4px;
}

::placeholder {
  padding-left: 1.063rem;
  border-radius: 4px;
  color: #000;
  opacity: 0.2;
  font-size: 24px;
  height: 63.313rem;
  font-family: 'Montserrat', sans-serif;
}

.form button {
  font-family: 'Roboto Slab', serif;
  border: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1rem;
  padding: 0.871rem 1.3rem;
  background-color: #0290ff;
  border-radius: 4px;
  color: #fff;
  width: 20%;
}

.line {
  margin: 3.313rem 6.25rem 4rem;
  border: solid 1px #e8e8e8;
}

.add-book {
  margin-left: 6.25rem;
  color: #888;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -0.18px;
  height: 1.5rem;
}
